<!doctype html>
<html>
    <head>
        <title> (페이지를 찾을수 없습니다) </title>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="icon" href="/img/error.png">
        <script src="/js/boot.js"></script>
    </head>
    <body>
        <div class="container text-center mt-5">
            <h1>404 에러 페이지</h1>
            <p>찾고 있는 페이지가 제거되었거나 이름이 변경되었거나 일시적으로 사용할 수 없습니다</p>
            <a href="/" class="btn btn-primary">홈페이지로 돌아가기</a>
        </div>
    </body>
</html>